registry=https://pointecouteau.fr:40403/
@pizzi-db:registry=https://pointecouteau.fr:40403/
//pointecouteau.fr:40403/:_authToken="${PIZZI_NPM_REGISTRY_TOKEN}"
//pointecouteau.fr:40403/:always-auth=true
always-auth=true
